@import "tailwindcss";

@theme inline {
  --color-primary: #3C2415;
  --color-background: #F9F6F0;
  --color-surface: #FFFFFF;
  --color-text: #2B1A10;
  --color-muted: #A89F91;
  --color-accent: #C86A42;

  --font-headings: var(--font-fraunces);
  --font-body: var(--font-outfit);

  --radius-card: 24px;
  --radius-pill: 999px;
}

body {
  background-color: var(--color-background);
  color: var(--color-text);
  font-family: var(--font-body);
  /* Fallback to hide horizontal scroll on some mobile browsers */
  overflow-x: hidden;
}
